 ###############################################################################
#
# Erratum v1.02  �2016-2020 Menz Agitat
# Param�tres de configuration
#
 ###############################################################################



#####  LANGUE  #################################################################

# Veuillez vous reporter au d�but du fichier Erratum.tcl pour ce qui concerne
# la configuration de la langue.



#####  PARAM�TRES DIVERS  #################################################

# Commande et autorisations requises pour utiliser Erratum.
variable erratum_cmd "s/"
variable erratum_auth "-|-"

# Nombre de lignes de texte � conserver en m�moire sur chaque chan o� Erratum
# est activ�.
# Remarque : les corrections ne pourront s'effectuer que dans du texte se
# trouvant encore en m�moire.
variable max_memory 50



#####  PARAM�TRES D'AFFICHAGE  #################################################

# Pr�fixe � ajouter devant la ligne corrig�e.
variable prefix "ville have sagt: "

# Mode d'affichage pr�f�r� pour les messages du script, � l'exception de la
# ligne corrig�e qui sera toujours affich�e publiquement.
# (1 = messages publics sur le chan / 2 = notices � l'utilisateur)
variable preferred_display_mode 1

# Filtrer les codes de style (couleurs, gras, ...) dans tous les affichages du
# script ? (0 = non / 1 = oui)
variable monochrome 0



#####  ANTIFLOOD  ##############################################################

# Activer l'antiflood ? (0 = d�sactiv� / 1 = activ�)
variable antiflood 1

# Contr�le de flood individuel.
# Lorsqu'il s'active, la commande sera bloqu�e pour l'utilisateur qui l'a
# d�clench� uniquement.
# Exemple : "10:600" = 10 requ�tes maximum en 600 secondes, les suivantes seront
# ignor�es.
variable flood_erratum_cmd "6:600"

# Contr�le de flood global.
# Lorsqu'il s'active, les commandes du script sont bloqu�es pour tout le monde
# sur le chan concern�.
# Remarque : pour le nombre de requ�tes, sp�cifiez une valeur sup�rieure � celle
#	d�finie pour le contr�le de flood individuel.
variable flood_global "20:600"

# Intervalle de temps minimum entre l'affichage de 2 messages avertissant que
# l'antiflood a �t� d�clench� (ne r�glez pas cette valeur trop bas afin de ne
# pas �tre flood� par les messages d'avertissement de l'antiflood...)
variable antiflood_msg_interval 60
